/* BASIC STYLES */

:root {
    --bg-c: #FAFAFA;
    --hover-c: #FCF1E0;
    --main-text-c: #111;
    --second-text-c: #fff;
    --company-first-c: #1E1823;
    --company--second-c: #FD9222;
}

body {
    font-family: 'Montserrat',
        sans-serif;
    background-color: var(--bg-c);
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    text-decoration: none;
    font-style: normal;
}

img {
    display: inline-block;
    max-width: 100%;
}

.container {
    margin: 0 auto;
    max-width: 75rem;
    padding: 0 2rem;
}


/* HEADER */

header .container {
    background-color: var(--bg-c);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo-and-nav nav {
    display: flex;
    gap: 11.75rem;
    align-items: center;
}

.logo-and-icon {
    display: flex;
    justify-content: center;
    gap: 0.25rem;
}

.logo {
    color: inherit;
    text-transform: uppercase;
    font-size: 1.125rem;
    font-style: italic;
    font-weight: 700;
    line-height: 1.111;
    letter-spacing: -0.03em;
}

.page-nav ul {
    display: flex;
    gap: 1.5rem;
}

.nav-item {
    display: block;
    padding: 1.75rem 0 2.25rem 0;
    font-size: 0.875rem;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: inherit;
    color: var(--main-text-c);
}

.header-instagram,
.header-twitter {
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    fill: var(--bg-c);
    stroke: var(--main-text-c);
}

.header-twitter {
    margin-left: 1.125rem;
}

.header-instagram:hover,
.header-instagram:focus,
.header-twitter:focus,
.header-twitter:hover {
    stroke: var(--company--second-c);
}

/* HERO */
.hero {
    padding-bottom: 4.5rem;
}

.hero .container {
    width: 71rem;
    background-color: var(--bg-c);
    background-image: linear-gradient(to bottom, rgba(17, 17, 17, 0.00),
            rgba(17, 17, 17, 0.40)), url(../images/backgrounds/header2x.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 2.375rem;
    padding: 23.75rem 2.5rem 2.5rem 2.5rem;
}

.catchword {
    color: var(--second-text-c);
    font-family: inherit;
    font-size: 1.75rem;
    font-weight: 500;
    line-height: 1.21;
    letter-spacing: -0.03em;
    max-width: 30.25rem;
    margin-bottom: 2rem;
}

.hero-button-and-scroll {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero-buttons {
    display: flex;
    justify-content: center;
}

.hero-buttons button {
    padding: 0.93rem 2.5rem;
    border-radius: 6.25rem;
    margin-right: 0.875rem;
    background-color: var(--company--second-c);
    cursor: pointer;
    color: var(--second-text-c);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    border: 0.0625rem solid var(--company--second-c);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buttons button:hover,
.hero-buttons button:focus {
    background-color: var(--hover-c);
    color: var(--company--second-c);
    border-color: var(--hover-c);

}

.hero-buttons a {
    padding: 0.875rem 2.5rem;
    border-radius: 6.25rem;
    border: 0.0625rem solid var(--second-text-c);
    color: var(--second-text-c);
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-buttons a:hover,
.hero-buttons a:focus {
    color: var(--company--second-c);
    background-color: var(--second-text-c);
    border-color: var(--company--second-c);
}

.scroll-down {
    display: flex;
    justify-content: center;
    align-items: end;
    gap: 0.875rem;
    padding-bottom: 0.375rem;
}

.scroll-down a {
    display: block;
    font-size: inherit;
    color: var(--second-text-c);
    font-weight: 500;
    line-height: 1.28;
    letter-spacing: -0.03em;
    padding-bottom: 0.7rem;
}

.scroll-down-svg {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
    background-color: var(--second-text-c);
    border-radius: 50%;
    margin-top: 0.375rem;
}

.scroll-down svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    fill: var(--company--second-c);
}

/* ADVANTAGES */

.advantages {
    background-color: var(--bg-c);
}

.advantages .container {
    padding: 3.125rem;
    width: 75rem;
    background-color: var(--company-first-c);
}

.advantages-list {
    display: flex;
    gap: 5.5rem;
}

.advantages-list li {
    position: relative;
}

.advantages-list li:not(:last-child)::after {
    content: "";
    border-radius: 0.0625rem;
    background-color: rgba(255, 255, 255, 0.50);
    transform: translate(-50%, -50%) scale(1);
    position: absolute;
    right: -1.125rem;
    top: 50%;
    height: 7.75rem;
    width: 0.0625rem;
}

.advantages-list span {
    display: block;
    width: 3.875rem;
    height: 3.875rem;
    position: relative;
    border: 0.0625rem solid rgba(255, 255, 255, 0.50);
    border-radius: 50%;
}

.advantages-list svg {
    fill: var(--company--second-c);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);

}

.advantages-list h3 {
    color: var(--second-text-c);
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1;
    letter-spacing: 0;
    margin-bottom: 1.125rem;
    margin-top: 1.375rem;
}

.advantages-list p {
    color: rgba(255, 255, 255, 0.70);
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1;
    letter-spacing: -0.02em;
}

/* TASTE */

.taste .container {
    background-color: var(--bg-c);
    padding: 8rem 2rem;
}

.taste h2,
.taste p {
    text-align: center;

    margin: 0 auto;
}

.taste h2 {
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.167;
    letter-spacing: -0.03em;
    text-transform: uppercase;
    max-width: 25.6875rem;
    margin-bottom: 1.75rem;
}

.taste p {
    font-size: 0.875rem;
    line-height: 1.286;
    letter-spacing: -0.02em;
    max-width: 30.375rem;
    margin-bottom: 3.125rem;
}

.taste-word {
    color: var(--company--second-c);
}

.taste-list {
    display: flex;
    gap: 1.1875rem;
}

.taste-link {
    display: inline-block;
    height: 16.875rem;
    width: 16.875rem;
    border: 0.0625rem solid var(--company--second-c);
    border-radius: 0.9375rem;
}

.taste-link img {
    margin: 1.75rem 2.25rem 2.25rem 1.75rem;
}

.taste-link span {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 1.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

.taste-list li:nth-child(1) .taste-link {
    background-color: var(--company--second-c);
}

.taste-list li:nth-child(3) .taste-link {
    background-color: var(--company-first-c);
    border-color: var(--company-first-c);
}

.taste-list li:nth-child(2n+1) span {
    color: var(--second-text-c)
}

.taste-list li:nth-child(2n) span {
    color: var(--main-text-c)
}

.overlay-box {
    position: relative;
    overflow: hidden;
}

.taste-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 1.25rem;
    transform: translateY(100%);
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color: var(--bg-c);
}

.taste-overlay h3 {
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: -0.03em;
    margin-bottom: 0.5rem;
}

.taste-overlay p {
    display: inline-block;
    padding: 0.375rem 1.125rem;
    font-size: 0.625rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 0.875rem;
    border-radius: 2.1875rem;
    border: 0.0625rem solid var(--company--second-c);
}

.taste-overlay p:nth-child(2) {
    background-color: var(--company--second-c);
    color: var(--bg-c);
}

.taste-overlay p:nth-child(3) {
    background-color: var(--bg-c);
    color: var(--main-text-c);

}

.taste-list li:hover .taste-overlay,
.taste-list li:focus .taste-overlay {
    transform: translateY(0);
}

.taste-overlay .taste-overlay-text {
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    border: none;
    font-size: 0.75rem;
    text-align: left;
    padding: 0 0;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;

}


/* HOW ITS MADE */

.how-made .container {
    padding: 0 2.0625rem 8rem 2.0625rem;
    background-color: var(--bg-c);
}

.how-made .container h2 {
    text-align: center;
    margin-bottom: 3.125rem;
    text-transform: uppercase;
    color: var(--main-text-c);
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.166;
    letter-spacing: -0.03em;
}

.how-made .container h2 span {
    color: var(--company--second-c);
}

.video-and-text-container {
    display: flex;
    gap: 1.25rem;
}

.video-container {
    cursor: pointer;
    width: 37.5rem;
    position: relative;
    border-radius: 0.9375rem;
    overflow: hidden;
}

.video-container svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
}

.how-made-text-container {
    border-radius: 0.9375rem;
    max-width: 51.125rem;
    padding: 2rem;
    background-color: var(--second-text-c);
}

.how-made-text-container ul {
    list-style-type: disc;
}

.how-made-text-container p {
    margin-bottom: 1.75rem;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33;
}

.how-made-text-container li {
    margin-bottom: 1.5rem;
    list-style-position: inside;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.28;
    letter-spacing: -0.02em;
}

/* OUR-PRODUCTS */

.our-products .container {
    position: relative;
    padding: 0 2.0625rem 10.8125rem 2.0625rem;
}

.our-products .container h2 {
    text-align: center;
    margin-bottom: 3.125rem;
    text-transform: uppercase;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.166;
    letter-spacing: -0.03em;
}

.our-products .container h2 span {
    color: var(--company--second-c);
}

.products-list,
.products-list-part-two {
    display: flex;
    gap: 1.125rem;
    overflow: auto;
    scroll-behavior: auto;
    flex-wrap: wrap;
}

.products-list-part-two {
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.products-list li,
.products-list-part-two li {
    background-color: var(--second-text-c);
    width: 16.875rem;
    border-radius: 0.9375rem;
    text-align: center;
    border: 0.0625rem solid rgba(17, 17, 17, 0.10);
}

.products-list a,
.products-list-part-two a {
    display: inline-block;
    width: 100%;
    height: 100%;
}

.products-list li h3,
.products-list-part-two li h3 {
    margin: 0.5rem 0 2px 0;
    color: var(--main-text-c);
    text-transform: uppercase;
    font-size: 1.125rem;
    font-weight: 600;
    line-height: 1.33;
    letter-spacing: -0.02em;
}

.products-list li p,
.products-list-part-two li p {
    margin-bottom: 1.125rem;
    color: rgba(17, 17, 17, 0.70);
    font-size: 0.75rem;
    font-weight: 400;
    line-height: 1.166;
    letter-spacing: -0.02em;
}

.products-list li span,
.products-list-part-two li span {
    display: inline-block;
    margin-bottom: 2rem;
    padding: 0.5rem 1.25rem;
    font-size: 0.875rem;
    font-weight: 600;
    line-height: 1;
    color: var(--main-text-c);
    background-color: var(--bg-c);
    border-radius: 6.25rem;
    border: 0.0625rem solid rgba(17, 17, 17, 0.10);
}

.products-overlay-box {
    position: relative;
    overflow: hidden;
    max-width: 1134px;
}

.overlay-part {
    position: absolute;
    top: 0;
    left: 0;
    transform: translatey(-100%);
    transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.more-products:hover+.products-overlay-box .overlay-part {
    transform: translatey(0);
}

.products-overlay-box .overlay-part:hover {
    transform: translatey(0);
}

.more-products {
    display: flex;
    align-items: end;
    justify-content: center;
    height: 70px;
    width: 30%;
    cursor: pointer;
    position: absolute;
    top: 430px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    color: var(--main-text-c);
    font-size: 1.2rem;
    text-transform: uppercase;
    font-weight: 600;
}